// Buttons

@each $colorname, $color in $colors {
  .button-#{$colorname} {
    transition: $base-transition;
    border: 2px solid $color;
    border-radius: $base-border-radius;
    outline: none;
    background-color: transparent;
    color: $color;
    font-weight: 700;
    font-size: $base-font-size;
    padding: $base-padding calc($base-padding * 2);
    cursor: pointer;

    &:hover {
      background-color: $color;
      color: white;
    }
  }
}

@each $colorname, $color in $colors {
  .button-filled-#{$colorname} {
    transition: $base-transition;
    border: 2px solid $color;
    border-radius: $base-border-radius;
    outline: none;
    background-color: $color;
    color: white;
    font-weight: 700;
    font-size: $base-font-size;
    padding: $base-padding calc($base-padding * 2);
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: $color;
    }
  }
}