@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-secondary {
  background-color: #E3856B;
}

.fs-1 {
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.button-secondary {
  transition: 0.1s;
  border: 2px solid #E3856B;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  color: #E3856B;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #E3856B;
  color: white;
}

* {
  box-sizing: border-box !important;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  padding: 5px;
}

#register, #login {
  width: 100vw;
  height: 100vh;
}
#register .form, #login .form {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  min-width: 290px;
}
@media screen and (max-width: 1024px) {
  #register .form, #login .form {
    min-width: 550px;
  }
}
@media screen and (max-width: 768px) {
  #register .form, #login .form {
    padding: 20px 20px;
    width: 350px;
  }
}
@media screen and (max-width: 375px) {
  #register .form, #login .form {
    padding: 20px 20px;
    width: 290px;
  }
}
#register .form .input, #login .form .input {
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #80C4B7;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  #register .form .input, #login .form .input {
    min-width: 400px;
  }
}
#register .form .input::placeholder, #login .form .input::placeholder {
  opacity: 0.5;
}
#register .form label, #login .form label {
  margin: 10px 0;
}
#register .form label #icon, #login .form label #icon {
  width: 30px;
  height: 30px;
}
#register .form h1, #login .form h1 {
  margin: 10px 0;
}
#register .form p, #login .form p {
  font-size: 16px;
  margin: 10px auto;
}
#register .form button, #login .form button {
  margin: 10px 0;
  width: 100%;
}
#register .form .sign-button, #login .form .sign-button {
  text-decoration: none;
  color: #E3856B;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}