@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-secondary {
  background-color: #7C8363;
}

.bg-tertiary {
  background-color: #EDF4F2;
}

.fs-3 {
  font-size: 32px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.mb-1 {
  margin-bottom: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mt-5 {
  margin-top: 50px;
}

.button-secondary {
  transition: 0.1s;
  border: 2px solid #7C8363;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  color: #7C8363;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: #7C8363;
  color: white;
}

* {
  box-sizing: border-box !important;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

#register, #login {
  width: 100vw;
  height: 100vh;
}
#register .form, #login .form {
  background-color: #EDF4F2;
  padding: 20px 40px;
  border-radius: 10px;
  min-width: 550px;
}
@media screen and (max-width: 768px) {
  #register .form, #login .form {
    min-width: 400px;
  }
}
@media screen and (max-width: 425px) {
  #register .form, #login .form {
    min-width: 350px;
  }
}
@media screen and (max-width: 375px) {
  #register .form, #login .form {
    min-width: 320px;
  }
}
@media screen and (max-width: 320px) {
  #register .form, #login .form {
    min-width: 300px;
  }
}
#register .form .input, #login .form .input {
  background-color: #EDF4F2;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #31473A;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}
#register .form .input::placeholder, #login .form .input::placeholder {
  opacity: 0.5;
}
#register .form label, #login .form label {
  margin: 10px 0;
  cursor: pointer;
}
#register .form label #icon, #login .form label #icon {
  width: 30px;
  height: 30px;
}
#register .form h1, #login .form h1 {
  margin: 10px 0;
}
#register .form p, #login .form p {
  font-size: 16px;
  margin: 10px auto;
}
#register .form .link-button, #login .form .link-button {
  text-decoration: none;
  color: #7C8363;
  font-weight: 600;
}

#navbar {
  border-bottom: 1px solid #EDF4F2;
  padding: 20px 100px;
}
#navbar .authorisation button {
  margin: 0 1rem;
}

#messaging-window {
  background-color: #7C8363;
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
}
#messaging-window .side-bar {
  flex: 1;
}
#messaging-window .side-bar .sidebar-navbar {
  padding: 10px;
  width: fit-content;
}
#messaging-window .side-bar .sidebar-navbar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
#messaging-window .chat-box {
  flex: 2;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}